header {
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
    background-color: var(--blue);
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;

    .header__logo {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    nav {

        ul {
            display: flex;
            list-style: none;

            li {
                padding: 0 50px;

                p {
                    position: relative;
                    display: inline-block;
                    cursor: pointer;

                    &::before {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 0%;
                        bottom: -10px;
                        background-color: red;
                        transition: all .2s ease-in-out;
                    }                    

                    &:hover {

                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}