.main-website {
    height: 90vh;
    width: 100vw;
    background: #fff;

    .info__container {
        display: flex;
        width: 80%;
        margin: 0 auto;

        .info__container--info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1;

            h1 {
                font-size: 4rem;
                width: 70%;
            }

            .main-btn {
                background-color: green;
                color: #fff;
                padding: 20px 40px;
                width: 20%;
                text-align: center;
                border-radius: 5px;
                margin-top: 40px;
                cursor: pointer;
            }
        }

        .info__container-img {
            flex: 1;
            text-align: center;

            img {
                width: 100%;
                height: auto;
                max-width: 750px;
            }
        }
    }

    .info-reverse {
        flex-direction: row-reverse;
    }

    .in-between {
        text-align: center;
        font-size: 2rem;
        margin: 40px 0;
    }
}