:root {
  --blue: #5193D0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  color: #fff;
  font-size: 30px;
  letter-spacing: 1px;
}

header .header__logo {
  line-height: 47px;
}

header nav ul {
  display: none;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  padding: 0 50px;
}

header nav ul li p {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

header nav ul li p::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0%;
  bottom: -10px;
  background-color: red;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header nav ul li p:hover::before {
  width: 100%;
}

header nav ul li .header-btn {
  padding: 20px 40px;
  cursor: pointer;
  background-color: green;
  color: #fff;
  font-size: 20px;
  border-radius: 8px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header nav ul li .header-btn:hover {
  background: #009100;
}

@media only screen and (min-width: 768px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 200px;
    background-color: var(--blue);
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
  }
  header .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav ul li {
    padding: 0 50px;
  }
  header nav ul li p {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  header nav ul li p::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    bottom: -10px;
    background-color: red;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  header nav ul li p:hover::before {
    width: 100%;
  }
  header nav ul li .header-btn {
    padding: 20px 40px;
    cursor: pointer;
    background-color: green;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  header nav ul li .header-btn:hover {
    background: #009100;
  }
}

main {
  background: url(/images/mobile-hero-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  width: 100%;
}

main .btn {
  display: inline-block;
  text-align: center;
  padding: 18px 35px;
  cursor: pointer;
  background-color: #fff;
  color: purple;
  border-radius: 8px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 0 auto;
  font-weight: bold;
}

main .btn:hover {
  background-color: lightgreen;
}

main .panel {
  background-color: #fff;
  max-width: 90%;
  width: 90%;
  margin: 50px 0;
  text-align: center;
}

main .panel p {
  color: #aaa;
}

main .panel#hello-panel {
  display: none;
}

main .panel .panel__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px;
}

main .panel .panel__info .big-checkmark {
  font-size: 200px;
  color: red;
}

main .panel .panel__info h1 {
  font-size: 100px;
  font-weight: 400;
  letter-spacing: 4px;
  padding: 10px 0;
}

main .panel .panel__info h2 {
  font-size: 24px;
  color: #888;
  margin-bottom: 20px;
}

main .panel .panel__info .list-grid__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

main .panel .panel__info .list-grid__container .small-checkmark {
  color: green;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .panel .panel__info .list-grid__container p {
  font-size: 1.25rem;
  text-align: left;
  padding: 10px 0 0 3px;
}

main .panel .sounds-good {
  padding: 20px 0 10px;
  font-size: 1.25rem;
}

.main-website {
  padding: 0 15px;
}

.main-website .hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.main-website .hero__container .hero__container--info {
  padding-bottom: 20px;
}

.main-website .hero__container .hero__container--info h1 {
  font-size: 2.125rem;
  text-align: center;
  color: #fff;
}

.main-website .hero__container .hero__container--info h2 {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  margin: 30px 0;
  line-height: 1.6rem;
}

.main-website .hero__container .hero__container-img {
  text-align: center;
  margin: 20px 0;
}

.main-website .hero__container .hero__container-img img {
  width: 100%;
}

.main-website .info-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.main-website .info__container h3 {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .main-website {
    height: 92vh;
    background: #fff;
  }
  .main-website .info__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
  }
  .main-website .info__container .info__container--info h1 {
    font-size: 2rem;
  }
  .main-website .info__container .info__container-img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
  .main-website .info__container .info__container-img img {
    max-width: 750px;
  }
  .main-website .info-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .main-website .in-between {
    text-align: center;
    font-size: 2rem;
    margin: 120px 0;
  }
}

.footer {
  text-align: center;
  padding: 10px 0;
  font-size: .8rem;
}
/*# sourceMappingURL=style.css.map */